{% extends 'base.html.twig' %}

{% block title %}profil utilisateur
{% endblock %}
{% block meta %}
	<meta name="description" content="compte">
{% endblock %}
{% block body %}
	<div class="container">

		<h1>Votre profil</h1>
		<div class="profile suite">

			<p>Vous etes connecté avec l'adresse :
				<br>
				{{ app.user.email}}</p><br>
			<p>Votre nombre de convives :
				<br>
				{{app.user.guests}}</p><br>
			<p>Vos allergies :
				<br>
				<ul>
					{% for allergies in app.user.allergies %}

						<li>{{allergies.name}}</li>
					{% endfor %}
				</ul>
			</p><br>
			<h2>Vos Réservations</h2>
			<table>
				<thead>
					<tr>
						<th>Date</th>
						<th>Heure</th>
						<th>Convives</th>

					</tr>
				</thead>
				<tbody>
					{% for reservation in reservations %}
						{% if app.user.email == reservation.email %}
							<tr>
								<td>{{reservation.date|date('M:Y:d')}}
								</td>
								<td>{{reservation.hour|date('H:i')}}
								</td>
								<td>{{reservation.guests}}
								</td>
							</tr>
							<tr>
								<td class="allergies">allergies</td>
								<td colspan="2">
									{% for allergy in reservation.allergies %}

										{{allergy.name}}

									{% endfor %}
								</td>
							</tr>
							<tr class="vide"></tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
			<div class="info">
				<p>vous pouvez modifier votre mot de passe, nombre de convives et vos allergies en cliquant sur le bouton "Modifier votre profil"</p>
			</div>
		</div>
		<div class="btn">
			<button>
				<a href={{path('app_modification')}}>Modifier le profil</a>
			</button>
		</div>
	{% endblock %}
	{% block javascripts %}
		<script>
			{% for flashMessage in app.session.flashBag.get('success') %}
swal({
icon: 'success',
title: 'Succès',
text: '{{ flashMessage }}',
button: true,
timer: 3000
});{% endfor %}
		</script>
		{{ encore_entry_script_tags('navigation') }}
	{% endblock %}
