{% extends 'base.html.twig' %}

{% block title %}modification de profil
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('erreur') %}
			<div class="erreur">
				<p>{{message}}</p>
			</div>
		{% endfor %}
		<h1>Votre profil</h1>
		<div class="profile">

			<div class="btn">
				<button>
					<a href={{path('app_modification_mdp')}}>Modifier le mot de passe</a>
				</button>
			</div>

			{{form_start(editProfile)}}
			<div class="form-group">
				{{ form_label(editProfile.guests) }}
				{{ form_widget(editProfile.guests) }}
			</div>
			<div class="form-group">
				{{ form_label(editProfile.allergies) }}
				{{ form_widget(editProfile.allergies) }}
			</div>
			<div class="btn">
				<button type="submit" class="btn">Modifier</button>
			</div>
			{{form_end(editProfile)}}
		</div>
		<div class="btn">
			<button>
				<a href={{path('app_profile')}}>retour</a>
			</button>
		</div>
	{% endblock %}
	{% block javascripts %}
		<script>
			$(document).ready(function () {
$('.selectAllergys').select2({});

});
		</script>
	{% endblock %}
