{% extends 'base.html.twig' %}

{% block title %}Bienvenue au Quai Antique
{% endblock %}
{% block body %}

	<div class="container">

		<div class="image-home">
			<h1>Quai Antique</h1>
		</div>
		<div class="accueil">
			<h1>Bienvenue</h1>
			<p>Le restaurant Au quai Antique est situé sur les rives de la Bretagne.
				<br>
				Le Chef vous propose une cuisine de saison et quelques savoureuses spécialités iodées, plateaux de fruits de mer,poissons des côtes et des rivières, coquillages… Le tout préparé maison.
			</p>
			<p>Nous vous présentons nos trois plats du moment.</p>
		</div>
		<div class="container-galery">
			{% for galery in galerys %}
				<div class="galeries">
					<h3>{{galery.name}}</h3>
					<img src="{{ vich_uploader_asset(galery,'imageFile') }}" alt="{{ galery.name }}" class="galeries-img">
				</div>
			{% endfor %}
		</div>


		<div class="btn">
			<button>
				<a href="{{path('app_reservation')}}">Réservation</a>
			</button>
		</div>
		<div>
		{% endblock %}
		{% block javascripts %}

			<script>
				{% for flashMessage in app.session.flashBag.get('success') %}
swal({
icon: 'success',
title: 'Succès',
text: '{{ flashMessage }}',
button: true,
timer: 3000
});{% endfor %}
			</script>
			<script>
				let navSvg = document.getElementById("menu_toggle");
let nav = document.getElementById("divNav");

function navClick() {
if (nav.classList == "navigation_none") {
nav.classList.add("navigation");
nav.classList.remove("navigation_none");
} else {
nav.classList.add("navigation_none");
nav.classList.remove("navigation");
}

}
navSvg.addEventListener("click", navClick);
			</script>
		{% endblock %}
