{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}
{% block meta %}
	<meta name="description" content="inscription au restaurant Quai Antique">
{% endblock %}
{% block body %}
	<div class="container">
		<h1>Inscription</h1>

		{{ form_start(registrationForm) }}

		<div class="form-group">
			{{ form_label(registrationForm.email) }}
			{{ form_widget(registrationForm.email) }}

		</div>
		<div class="form-group">
			{{ form_label(registrationForm.plainPassword) }}
			{{ form_widget(registrationForm.plainPassword) }}
			{{ form_errors(registrationForm.plainPassword) }}
		</div>
		<div class="form-group">
			{{ form_label(registrationForm.guests) }}
			{{ form_widget(registrationForm.guests) }}
		</div>
		<div class="form-group">
			{{ form_label(registrationForm.allergies) }}
			{{ form_widget(registrationForm.allergies) }}
		</div>
		<div class="form-checkbox">
			{{ form_label(registrationForm.agreeTerms) }}
			{{ form_widget(registrationForm.agreeTerms) }}

		</div>
		<div class="btn">
			<button type="submit">M'inscrire</button>
		</div>

		{{ form_end(registrationForm) }}
		<div class="connect">
			<a href="{{path('app_login')}}">Me connecter</a>
		</div>

	</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('navigation') }}
	<script type="text/javascript">
		$(document).ready(function () {
$('.selectAllergys').select2({});

});
	</script>

{% endblock %}
