{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Inscription</h1>

		{{ form_start(registrationForm) }}

		<div class="form-group">
			{{ form_label(registrationForm.email) }}
			{{ form_widget(registrationForm.email) }}
			<span id="span-email"></span>
		</div>
		<div class="form-group">
			{{ form_label(registrationForm.plainPassword) }}
			{{ form_widget(registrationForm.plainPassword) }}
			<p id="progressBar"></p>
			<span id="span-password"></span>
		</div>
		<div class="form-group">
			{{ form_label(registrationForm.guests) }}
			{{ form_widget(registrationForm.guests) }}
		</div>
		<div class="form-group">
			{{ form_label(registrationForm.allergies) }}
			{{ form_widget(registrationForm.allergies) }}
		</div>
		<div class="form-checkbox">
			{{ form_label(registrationForm.agreeTerms) }}
			{{ form_widget(registrationForm.agreeTerms) }}

		</div>
		<div class="btn">
			<button type="submit">M'inscrire</button>
		</div>

		{{ form_end(registrationForm) }}
		<div class="connect">
			<a href="{{path('app_login')}}">Me connecter</a>
		</div>

	</div>
{% endblock %}
{% block javascripts %}

	<script type="text/javascript">
		$(document).ready(function () {
$('.selectAllergys').select2({});

});
	</script>
	<script>
		// dynamique navbar
let navSvg = document.getElementById("menu_toggle");
let nav = document.getElementById("divNav");

function navClick() {
if (nav.classList == "navigation_none") {
nav.classList.add("navigation");
nav.classList.remove("navigation_none");
} else {
nav.classList.add("navigation_none");
nav.classList.remove("navigation");
}
console.log("coucou");
}
navSvg.addEventListener("click", navClick);
	</script>
{% endblock %}
