<!--NAVBAR -->
<div class="navbar">
	<div class="logo">
		<img src="/img/logo.png" alt="logo" class="img-logo">
	</div>
	<div class="navigation">
		<ul>
			<li>
				<a href="{{path('app_home')}}">Accueil</a>
			</li>
			<li>
				<a href="{{path('app_card')}}">La carte</a>
			</li>
			<li>
				<a href="{{path('app_reservation')}}">Réservation</a>
			</li>
		</ul>
		{% if is_granted("ROLE_USER") %}
			<li>
				<a href="#">Mon compte</a>
			</li>

			<li>
				<a href="{{path('app_logout')}}">Me déconnecter</a>
			</li>
		{% else %}
			<li>
				<a href="{{path('app_register')}}">M'inscrire</a>
			</li>
			<li>
				<a href="{{path('app_login')}}">Me connecter</a>
			</li>
		{% endif %}


	</div>
</div>
