{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}
{% block meta %}
	<meta name="description" content="page de réservation au restaurant Quai Antique">
{% endblock %}
{% block body %}
	<div class="container resa">
		{% for place in places %}
			<span id="hidden-noon">{{place.guestsNoon}}</span>
			<span id="hidden-evening">{{place.guestsEvening}}</span>
		{% endfor %}


		{{ form_start(reservationForm) }}
		<h1>Réservation</h1>
		<div class="form-group">
			{{ form_label(reservationForm.email) }}
			{{ form_widget(reservationForm.email) }}
		</div>
		<div class="form-select">
			{{ form_label(reservationForm.guests) }}
			{{ form_widget(reservationForm.guests) }}
		</div>
		<div class="form-select">
			{{ form_label(reservationForm.date) }}
			{{ form_widget(reservationForm.date) }}
		</div>

		<div class="form-select">
			{{ form_label(reservationForm.hour) }}
			{{ form_widget(reservationForm.hour) }}
		</div>
		<div class="place">
			<p>nombre de place restante</p>
			<p id="p-noon">Midi:
				<span id="noon"></span>
			</p>

			<p id="p-evening">Soir:
				<span id="evening"></span>
			</p>
		</div>
		<div class="form-group">
			{{ form_label(reservationForm.allergies) }}
			{{ form_widget(reservationForm.allergies) }}
		</div>

		<div class="btn">
			<button type="submit" id="submit">Réserver</button>
		</div>
		<div class="connect">
			{% if is_granted("ROLE_USER") %}
				{% else %}
					<a href="{{path('app_login')}}">Me connecter</a>
			{% endif %}
		</div>
		{{ form_end(reservationForm) }}

	</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('reservation') }}
	{{ encore_entry_script_tags('reservationHours') }}
	{{ encore_entry_script_tags('reservationDefault') }}
	{{ encore_entry_script_tags('navigation') }}
	<script type="text/javascript">
		$(document).ready(function () {
$('.selectAllergys').select2({});

});
	</script>

{% endblock %}
