{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}
	<div class="container">

		<h1>Réservation</h1>
		<div class="connect">
			{% if is_granted("ROLE_USER") %}
				{% else %}
					<a href="{{path('app_login')}}">Me connecter</a>
			{% endif %}
		</div>


		{{ form_start(reservationForm) }}
		<div class="form-group">
			{{ form_label(reservationForm.email) }}
			{{ form_widget(reservationForm.email) }}
		</div>
		<div class="form-group">
			{{ form_label(reservationForm.guests) }}
			{{ form_widget(reservationForm.guests) }}
		</div>
		<div class="form-group">
			{{ form_label(reservationForm.allergies) }}
			{{ form_widget(reservationForm.allergies) }}
		</div>
		<div class="form-group">
			{{ form_label(reservationForm.date) }}
			{{ form_widget(reservationForm.date) }}
		</div>
		<div class="form-group">
			{{ form_label(reservationForm.hour) }}
			{{ form_widget(reservationForm.hour) }}
		</div>
		<div class="form-group">
			<button type="submit" class="btn">Réserver</button>
		</div>
		{{ form_end(reservationForm) }}
	</div>
	{% for reservation in reservations %}
		<span class="js-count">{{ reservation.guests}}</span>
	{% endfor %}

{% endblock %}
